*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/
*.iml
node_modules/
/coverage
puppet-*.tar.gz
Puppetfile.lock
.ruby-version
.ruby-gemset
Gemfile.lock
.rspec_system
.vagrant
.bundle
spec/fixtures/modules/
build/
